@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@import "./fonts.css" layer(fonts);
@config './tailwind.config.js';

@layer components {
  @theme {
    --a-font-family: "Source Sans 3", Arial, sans-serif;
    --color-drop-background: rgba(230, 240, 255, 0.5);
    --color-drop-background-hover: rgba(153, 195, 255, 0.5);
    --color-drop-background-danger: rgba(255, 230, 230, 0.5);
    --color-drop-background-danger-hover: rgba(255, 153, 153, 0.5);
  }
}

@utility text-stroke-* {
  text-shadow:
    -1px -1px 0 --value(--color-*),
    1px -1px 0 --value(--color-*),
    -1px 1px 0 --value(--color-*),
    1px 1px 0 --value(--color-*);
}

:root {
  --a-font-family: "Source Sans 3", Arial, sans-serif;
}

@theme {
  --font-display: "Source Sans 3", Arial, sans-serif;

  --animate-wiggle: wiggle 1.75s ease-in-out infinite;

  @keyframes wiggle {
    0%,
    2.5%,
    27.5% {
      transform: rotate(0deg);
    }

    5% {
      transform: rotate(20deg);
    }

    10% {
      transform: rotate(-20deg);
    }

    15% {
      transform: rotate(20deg);
    }

    20% {
      transform: rotate(-20deg);
    }

    25% {
      transform: rotate(20deg);
    }
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
