@import "tailwindcss";
@import "@navikt/ds-css";
@config '../tailwind.config.js';

@theme {
    --breakpoint-sm: 24rem;
    --breakpoint-md: 48rem;
    --breakpoint-lg: 96rem;
    --breakpoint-xl: 128rem;
    --breakpoint-2xl: 190rem;
}
